body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
    margin: 0; /* Remove default margin */
}

.container {
    flex: 1; /* Allow the container to take up the remaining vertical space */
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin-left: 50px;
}

ul {
    list-style:disc;
    text-align: left;
    margin-left: 20px;
    padding: 0px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #1344e4;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #555;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0; /* Position the footer at the bottom */
    width: 100%;
}

/* for thumbnail pictures */
.thumbnail-img {
    width: auto;
    max-height: 75px;
    border: 1px solid #ddd; /* Optional: Add a border */
    border-radius: 5px; /* Optional: Add rounded corners */
}




/* Style the navigation bar */

.custom-navbar {
    background-color: #333;
    padding: 10px 20px; /* Adjust as needed */
}

.custom-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around; /* Adjust as needed */
}

.custom-nav-item {
    margin: 0;
}

/* Style the navigation links */
.custom-nav-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.custom-nav-item a:hover {
    color: #ffc107; /* Change the color on hover */
}

/* end style navbar */

/* Blog */
.blog-post {
    margin-bottom: 40px;
}

.blog-post h2 {
    color: #333;
}

.blog-post p {
    color: #333;
}
/* Blog end */